!!!
.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle{"data-target": ".navbar-responsive-collapse", "data-toggle": "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      %img{alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px", src: "/assets/logo-b99f177af8fb82de2d6d7b86e95c7f329d3d143edd8b225bc2875ad9dd6e0cc3.png"}/
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          .btn.btn-primary.navbar-btn
            %a{href: "/users/sign_in"} Get Started

    -if user_signed_in?
      .user_nav.grid-6
        =link_to "user.name", destroy_user_session_path, method: :delete
        %a.post{:href=> "/prototypes/new"} NEW PROTO

.container
=form_for(resource,as: resource_name, url: session_path(resource_name)) do |f|
  %form#new_user.form-signin{"accept-charset": "UTF-8", action: "/users/sign_in", method: "post"}
    %input{name: "utf8", type: "hidden", value: "✓"}/
    %input{name: "authenticity_token", type: "hidden", value: "OpNv+MU6LRPAOr/HsxqgGQgxdrFP4lRIfllPNh34TmgYts2uA4zWLyik/Ah0+7spfnwVL3pXEVIitUFoSk66QQ=="}/
    %h2.form-signin-heading Please sign in
    =f.label :email
    =f.email_field :email, autofocus: "autofocus", placeholder: "Email address", type: "email", value: ""
    %label.sr-only{for: "user_password"} Password
    %input#inputPassword.form-control{autocomplete: "off", name: "user[password]", placeholder: "Password", type: "password"}/
    .checkbox
      %label
        %input{name: "user[remember_me]", type: "hidden", value: "0"}/
        %input#user_remember_me{name: "user[remember_me]", type: "checkbox", value: "1"}/
        Remember me
    .actions
      =f.submit "Sign in"
  .text-center
    %p
      Not a member?
      %a{href: "/users/sign_up", target: "_self"} Sign up now
  .container
    %footer
      %p
        © PROTO SPACE 2015.
