!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Protospace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    -if user_signed_in?
      .user_nav.grid-6
        =link_to "user.name", destroy_user_session_path, method: :delete
        %a.post{:href=> "/prototypes/new"} NEW PROTO
    -else
      .grid-6

        %a.post{:href=> "/users/sign_in"} GET STARTED

  %body
    = yield
